
{% extends "base.html" %}
{% block content %}
<div class="splash">
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="l-box splash-text">
                <h1 class="splash-head">
                    Uma Simples Plataforma de Ensino a Distância
                </h1>
                <p>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4>
                    Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:
                </h4>
                <h3>Links</h3>
                <ul>
                    <li>E-mail: contato@simplemooc.org</li>
                    <li>Twitter: @simplemooc</li>
                </ul>
            </div>
        </div> 
    </div>
</div>
{% endblock %}
